* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
body {
    background-size: cover;
    font-family: Lato;
    background-position: center;
    font-weight: 300;
    color: #555;
    align-content: center;
}
.wrapper {
    border: 1px solid #555;
    margin: 5% 12%;
}
.active {
    background-color: aqua;
    color: red;
}
